:root {
  /* Fonts */
  --font-titles: 'Michroma', sans-serif;
  --font-body: 'Montserrat', sans-serif;

  /* Primary Colors */
  --primary-100: #2E8B57; /* verde mar principal */
  --primary-200: #61bc84; /* verde claro */
  --primary-300: #c6ffe6; /* verde muy claro */

  /* Accent Colors */
  --accent-100: #8FBC8F; /* verde acento */
  --accent-200: #345e37; /* verde oscuro */

  /* Text Colors */
  --text-100: #FFFFFF;   /* blanco */
  --text-200: #e0e0e0;   /* gris claro */

  /* Background Colors */
  --bg-100: #1E1E1E; /* negro suave */
  --bg-200: #2d2d2d; /* gris oscuro */
  --bg-300: #454545; /* gris medio */
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--bg-100);
  color: var(--text-100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-titles);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
